.imgConteiner {
    display: flex;
    justify-content: center;
    margin-top: 10px;   
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    cursor: pointer;
}

#image {
    max-width: 500px;
    max-height: 370px;
}

@media only screen and (max-width: 800px) {
    #image {
        max-width: 400px;
        max-height: 270px;  
    }
  }